{% include 'adminheader.html'%}


<!-- banner -->
  <div class="pogoSlider" id="js-main-slider">
    <div data-duration="2000" style="background-color: black;background-size: cover;height: 851px;padding-top: 200px">
      <div>
        <div class="container">
<center>
	<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:aliceblue">view payment</h1>
	<form>
		<table class="table" style="width: 500px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:aqua">
			<tr>
				<th>sino</th>
				
				
				<th>Name</th>
				<th>Amount</th>
				<th>status</th>
				<th>date</th>
				
				
			</tr>
			{% for row in data['paymentview']%}
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['customer_fname']}}</td>
    		<td>{{row['amount'] }}</td>
    		<td>{{row['order_status']}}</td>
    		<td>{{row['date']}}</td>
    		
    		
    	
      
    		
    	</tr>
    	{% endfor %}
   
		</table>
	</form>
</center>

</div></div></div></div>
{% include 'footer.html'%}