
{% include 'adminheader.html'%}
<!-- banner -->
	<div class="pogoSlider" id="js-main-slider">
		<div data-duration="2000" style="background-image:url(/static/images/b4.jpg);background-size: cover;height: 929px;padding-top: 200px");">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="/static/images/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Bakery Store</h3>
					<p class="font-italic text-uppercase">Welcome Admin!</p>
					
				</div>
			</div>
		</div>
		
	<!-- //banner -->
	
