{% include 'courierheader.html'%}


<!-- banner -->
    <div class="pogoSlider" id="js-main-slider">
        <div data-duration="2000" style="background-image:url(/static/images/b3.jpg);background-size: cover;padding-top: 200px">
            <div>
                <div class="container">
<center>
	<h1 style="color: white">view Bookings</h1>
	<form>
		<table class="table" style="color: rgb(255, 255, 255);background-color:black;border-radius:30px;opacity:0.8;">
			<tr>
					<th>sino</th>
					<th>Customer</th>
				<th>category</th>
				<th>Brand</th>
				
				
				<th>Name</th>
				<th>Description</th>
				<th> Image</th>
				<th> price</th>
				<th>quantity</th>
				
				<th>Status</th>
				
			</tr>
			{% for row in data['book']%}
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['customer_fname']}}</td>
    		<td>{{row['category_name']}}</td>
    		<td>{{row['brand_name'] }}</td>
    		
    		<td>{{row['product_name']}}</td>
    		<td>{{row['product_description'] }}</td>
    		<td><img src="/{{row['product_image'] }}" height="100" width="100"></td>
    		<td>{{row['total_price']}}</td>
    		
    		<td>{{row['quantity'] }}</td>
    		<td>{{row['order_status']}}</td>

    		{% if row['order_status']=='Assigned'%}

    		<td><a class="btn btn-success" href="?action=picked&oid={{row['order_master_id']}}">picked</a></td>

    		{% elif row['order_status']=='Picked'%}
    		<td><a class="btn btn-success" href="?action=Delivered&oid={{row['order_master_id']}}">Delivered</a>
            </td>



            <td><a class="btn btn-success" href="Viewuserdetails?oid={{row['order_master_id']}}">View Users</a>
            </td>

             <!--    {% elif row['order_status']=='Delivered'%} -->
    		

    		{% endif %}
    		
   
    		
    	</tr>
    	{% endfor %}
   
		</table>
	</form>
</center>

</div></div></div></div>
{% include 'footer.html'%}