{% include 'courierheader.html'%}
<!-- banner -->
<div class="pogoSlider" id="js-main-slider">
	<div data-duration="2000" style="background-image:url(/static/images/b4.jpg);background-size: cover;height: 1000px;padding-top: 200px");">
		<div class="pogoSlider-slide-element">
			<div class="container">
				<div class="banner-img-agile">
					<img src="/static/images/bannerimg.png" alt="" class="img-fluid">
				</div>
				<h3 class="text-white">Bakery Store</h3>
				<p class="font-italic text-uppercase">Welcome Courier!</p>
				
			</div>
		</div>
	</div>
	<!-- //banner -->
{% include 'footer.html'%}