{% include 'customerheader.html'%}

<!-- banner -->
	<div class="pogoSlider" id="js-main-slider">
		<div data-duration="2000" style="background-image:url(/static/images/b4.jpg);background-size: cover;padding-top: 200px;">
			<div>
				<div class="container">
<center>
	<h1 style="color: white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">View My Orders</h1>
	<form>
		<table class="table" style="color: rgb(255, 255, 255);background-color:black;border-radius:30px;opacity:0.8;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
			<tr>
				<th>#</th>
				<th>category</th>
				<th>Brand</th>

				<th>Name</th>
				<th>Description</th>
				<th> Image</th>
				<th> price</th>
				<th>quantity</th>
				<th>Status</th>
				
				
				
			</tr>
			{% for row in data['myorder']%}
    	<tr style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    		<td>{{loop.index}}</td>
    		<td>{{row['category_name']}}</td>
    	<td>{{row['brand_name'] }}</td>
    	
    		<td>{{row['product_name']}}</td>
    		<td>{{row['product_description'] }}</td>
    		<td><img src="/{{row['product_image'] }}" height="100" width="100"></td>
    		<td>{{row['total_price']}}</td>
    		
    		<td>{{row['quantity'] }}</td>
    		<td>{{row['order_status']}}</td>
			<td><a  class="btn btn-success" href="bill?odid={{row['order_details_id']}}">BILL</a></td>
    		
   
    		
    	</tr>
    	{% endfor %}

    
		</table>
	</form>
</center>
<style>
	.table th{border: none;}
</style>
</div></div></div></div>
{% include 'footer.html'%}