{% include 'staffheader.html'%}

<!-- banner -->
<div class="pogoSlider" id="js-main-slider">
    <div data-duration="2000" style="background-image:url(/static/images/b1.jpg);background-size: cover;height: 700px;padding-top: 200px">
      <div>
        <div class="container">
<center>
	<h1>view orders</h1>
	<form>
		<table class="table" style="width: 500px;background-color:black;color:white;border-radius:10px">
			<tr>
				<th>sino</th>
				<th>Customer</th>
				<th>category</th>
				<th>SubCategory</th>
				
				
				<th>Name</th>
				<th>Description</th>
				<th> Image</th>
				<th> price</th>
				<th>quantity</th>
				<th>Status</th>
				
				
			</tr>
			{% for row in data['bookingview']%}
    	<tr>
    		<td>{{loop.index}}</td>
    		<th>{{row['customer_fname']}}</th>
    		<td>{{row['category_name']}}</td>
    		<td>{{row['subcategory_name'] }}</td>
    	
    		<td>{{row['product_name']}}</td>
    		<td>{{row['product_description'] }}</td>
    		<td><img src="/{{row['product_image'] }}" height="100" width="100"></td>
    		<td>{{row['total_price']}}</td>
    		
    		<td>{{row['quantity'] }}</td>
    		<td>{{row['order_status']}}</td>
    		<td><a  class="btn btn-success" href="staff_viewpayment?oid={{row['order_master_id']}}">View Payment</a></td>


			<!-- {% if row['order_status']=="paid"%}
			
			<td><a style="background-color: blue;" class="btn btn-success" href="admin_assign?oid={{row['order_master_id']}}">Assign</a></td>

			{% endif %} -->
   
    		
    	</tr>
    	{% endfor %}
   
		</table>
	</form>
</center>

</div></div></div></div>
